<div style = "color: honeydew;text-align: center; margin: 5% 10%;">
  <h3>Welcome to the world of Digital Books</h3>
</div>

<div class="card card-home">
    <div class="card-body container">
      <p class="bottom-right">An eBook is an electronic (or digital) version of a book which can be checked out and viewed on an eBook reader, other portable devices (such as an iPad or smartphone), or your PC.</p>
      <div class= "bottom-center">    
        <p>Here are the top use cases of our Digital Books:</p>
        <p>Authors can register and create their books for readers to go through and can update their books</p>
        <p>Readers can signup and subscribe to choice of their books</p>
      </div>
    </div>
  </div>

