.bg-image {
    background-image: url('https://wallpaperaccess.com/full/2862101.jpg');
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}